<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SOAP Web Service</title>
        <meta name="description" content="Este projeto visa implementar uma API baseada no protocolo SOAP.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form action="/soap/hello" method="post">
            <h1>SOAP API</h1>
            <section>
                <p>
                    <label for="name">
                        <span>Name:</span>
                        <strong><abbr title="required">*</abbr></strong>
                    </label>
                    <input id="name" name="name" type="text"/>
                </p>
                
                <p>
                    <label for="times">
                        <span>Times:</span>
                        <strong><abbr title="required">*</abbr></strong>
                    </label>
                    <input id="times" name="times" type="text"/>
                </p>

            </section>

            <section>
                <a href="/soap?wsdl">WSDL</a>
                <p>
                    <button type="submit">Enviar</button>
                </p>
            </section>
        </form>

        <script src="" async defer></script>
    </body>
</html>